@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateLetter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#head-title {
  /* margin-top: 40px; */
  /* position: absolute; */
  animation: fill-animation 0.5s ease forwards 2.5s;
}

@keyframes fill-animation {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

#head-title path {
  stroke-dasharray: 800px;
  stroke-dashoffset: 800px;
  animation: line-animation 5s ease forwards;
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

.scrolling-text {
  height: 50px; /* Set the width of the container */
  /* overflow: hidden; */
  white-space: wrap; /* Prevent the text from wrapping */
  animation: scroll 20s linear 3s infinite; /* Define the animation */
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300%);
  }
}
